* {
  margin: 0;
  padding: 0;
}

:where(.css-dev-only-do-not-override-p7e5j5) .ant-menu::after {
  content: none;
}

.ant-drawer-header {
  background-color: red;
}

.ant-menu-overflow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ant-drawer-content-wrapper {
  display: none;
}

.demo-logo {
  display: none;
}

.ant-layout-header {
  padding: 0 30px;
}

.icon-bar {
  display: none;
}

.ant-menu-title-content {
  font-size: 15px;
}

.side-bar {
  color: white;
  margin: 0 20px 0 0;
  font-size: large;
  font-family: cursive;
}

:where(.css-dev-only-do-not-override-p7e5j5) .ant-menu::before {
  content: none;
}

span .anticon .anticon-unordered-list .icon {
  display: none;
}

@media screen and (max-width:900px) {
  :where(.css-dev-only-do-not-override-p7e5j5).ant-drawer .ant-drawer-header {
    text-align: center;
  }

  .anticon-unordered-list {
    display: none;
    content: none;
  }

  h4,
  p {
    text-align: center;
    margin: 20px;
    font-size: medium;
  }

  :where(.css-dev-only-do-not-override-p7e5j5).ant-drawer .ant-drawer-body {
    padding: 0;
  }

  .ant-drawer-content-wrapper {
    display: block;
  }

  .ant-menu-overflow {
    display: none;
  }

  .ant-layout-header {
    display: flex;
    justify-content: space-between;
  }

  .icon-bar {
    display: block;
    color: white;
    font-size: large;
    font-family: cursive;
  }

  .icon {
    padding-right: 5px;
  }

  .side-bar {
    display: none;
  }

  p:hover {
    cursor: pointer;
  }
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-card-bordered {
  border: none;
}

.container img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

p.bold {
  font-weight: bold;
}

p.bold,
p.normal {
  margin-left: 25px;
}

.ant-form-item .ant-form-item-label {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ant-form-item-explain-error {
  display: none;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none;
}

.quiz-container {
  min-width: 250px;
  border-radius: 4px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.delete-button {
  background: red;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  margin-top: 5px;  
}

.add-button {
  background: rgb(142, 219, 98);
  border-radius: 10px;
  font-size: 18px;
  margin: 15px;
  padding: 10px;
  height: auto;
  width: auto;
  border: none;
}

.color-button{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  cursor: pointer;
  margin: 0 10px 15px 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.ant-form-item-required {
  font-family: cursive;
}

.questions-holder {
  margin: auto;
  width: fit-content;
}
.questions:focus{
    outline: none;
}